@model AITU网站.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "忘记了密码?";
}

<h2>@ViewBag.Title。</h2>


@Html.AntiForgeryToken()
<h4>输入你的电子邮件。</h4>
<hr />
@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        <!--<div style="margin:5px; color:red; font-size:15px; visibility:hidden;">邮箱不能为空！</div>-->
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="电子邮件链接" onclick="submit();" />
    </div>
</div>

<script>
    function submit() {
        var email = $(".form-control").val();
        if (email == "") {
            alert("邮箱不能为空！");
        } else {
            $.ajax({
                url: '/Home/FindPsw',
                type: "POST",
                data: {
                    email: email
                },
                success: function (data) {
                    alert(data);
                },
                error: function () {
                    alert("系统出现错误！");
                }
            });
        }
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
