<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/themes/base/jquery-ui")

    @*
        下面的代码是将文件直接拖放到此处添加的，不是手工键入的。
        另外，不要用Styles.Render("~/Content/css")实现，否则所有3D例子
        加载时都会出现界面短暂停顿的现象
    *@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />


    @* 为了能在视图以及分部视图中都能调用布局页引用的脚本，需要将这
        些引用放到head块内，而不是放到body块的末尾。*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @*Ajax帮助器是利用jQuery的Ajax来实现的，所以需要添加下面的引用*@
    @Scripts.Render("~/bundles/jquery/unobtrusive-ajax")

    @*输入验证需要添加下面的引用（也可以用到时再在相应页面中添加）*@
    @Scripts.Render("~/bundles/jquery/validate")

    @*将下面的引用放在最后，是为了确保在调用Bootstrap之前先调用jQuery*@
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        input[type=text]{max-width:150px;}
        body {
            margin-top: 2px;
            margin-bottom: 2px;
        }
        .head {
            height: 50px;
            padding-top: 15px;
            padding-left: 60px;
            padding-right: 60px;
            background-color: teal;
            border: dotted 1px blue;
        }

        .a1 {
            font-size: 20px;
            color: rosybrown;
        }

            .a1:hover {
                color: indianred;
            }

        .a2 {
            font-size: 16px;
            color: white;
        }

            .a2:hover {
                color: aliceblue;
                font-size: 18px;
            }
    </style>
</head>
@{
    AjaxOptions opt1 = new AjaxOptions
    {
        UpdateTargetId = "panelBodyContent",
        OnFailure = "ShoeError('更新出错了')"
    };
}
<body>
    <div class="container">
        <div class="head">
            <span class="a2">
                @ViewBag.userId
            </span>
            <!--修改密码按钮及弹出模式对话框-->
            <button class="btn btn-info" data-toggle="modal" data-target="#modalDialog">
                修改密码
            </button>
            <div id="modalDialog" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">修改密码</h4>
                        </div>
                        <form class="form-inline" method="post">
                            <div class="modal-body">
                                <!--修改密码的表单-->
                                <div class="form-group">
                                    <label for="nowPassword" class="control-label">原密码：</label>
                                    <input name="nowPassword" type="password" value="@ViewBag.nowPassword" class="form-control"  />
                                    
                                </div><br /><br />
                                <div class="form-group">
                                    <label for="newPassword" class="control-label">新密码：</label>
                                    <input name="newPassword" type="password" value="@ViewBag.newPassword" class="form-control"  />
                                </div><br /><br />
                                <div class="form-group">
                                    <label class="control-label">确认新密码：</label>
                                    <input name="newPassword1" type="password" value="@ViewBag.newPassword1" class="form-control"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" data-dismiss="modal">保存</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">放弃</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <span class="pull-right">@Html.ActionLink("返回主页", "MainIndex", "Home", new { @class = "a2" })</span>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4 text-center">
                        @Ajax.ActionLink("我的收藏", "myCollection", "Home", opt1, new { @class = "a1" })
                    </div>
                    <div class="col-md-4 text-center">
                        @Ajax.ActionLink("我的下载", "myDownload", "Home", opt1, new { @class = "a1" })
                    </div>
                    <div class="col-md-4 text-center">
                        @Ajax.ActionLink("我的上传", "myUpload", "Home", opt1, new { @class = "a1" })
                    </div>
                </div>
            </div>
            
            <div id="panelBodyContent" class="panel-body">
                
                @RenderBody()
                @Scripts.Render("~/bundles/jquery")
                @RenderSection("scripts", required: false)
            </div>
        </div>
    </div>
</body>
</html>
<script>
    //局部刷新出错提示
    function ShowError(errorInfo) {
        alert(errorInfo);
    }
    //修改密码
    function XGMM() {
        var array = [];
        var nowPsw = $("input[name='nowPassword'].val()");
        array.push(nowPsw);
        var newPsw = $("input[name='newPassword'].val()");
        array.push(newPsw);
        var newPsw1 = $("input[name='newPassword1'].val()");
        array.push(newPsw1);
        $.ajax({
            url: '/Home/XGMM',
            type: "POST",
            data: 'pswArray=' + array,
            success: function () {
                alert("修改成功！");
            },
            error: function(){
                alert("由于一股神秘的力量，您这次修改失败了！");
            }
        });
    }
    //不指定触发器选项(trigger)时默认为click（单击弹出，再次单击消失，所以一般指定选项）
    $("input[type=text]").popover({ trigger: "hover", placement:"right" });
    $(".btn").popover({ trigger: "hover" });
</script>

</script>