<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .a1{
            font-size:20px;
            color:rosybrown;
        }
        .a1:hover{
            color:indianred;
        }
    </style>
</head>
@{ 
    AjaxOptions opt = new AjaxOptions
    {
        UpdateTargetId = "panelbody",
        OnFailure = "ShoeError('更新出错了')"
    };
}
<body>
    <div class="container">
        <img src="~/common/images/229c1766fb58511e2378b74b7be6c5f2.jpg" style="width:100%;height:200px;"/>
    </div>
    <div class="container">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4 text-center">
                        @Ajax.ActionLink("背景元素", "控制器中的方法", "控制器名", opt,new { @class="a1"})
                    </div>
                    <div class="col-md-4 text-center">
                        @Ajax.ActionLink("图标元素", "控制器中的方法", "控制器名",opt, new { @class = "a1" })
                    </div>
                    <div class="col-md-4 text-center">
                        <a class="a1" href="~/Account/Login">登录</a>
                        |
                        <a class="a1" href="~/Account/Register">注册</a>
                    </div>
                </div>
            </div>
            <div id="panelbody" class="panel-body">
                @RenderBody()
            </div>
        </div>
    </div>

    
</body>
</html>
<script>
    function ShowError(errorInfo) {
        alert(errorInfo);
    }
</script>